<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Json parsing package">
    <test name="Json Test files">
        <classes>
            <class name="jsonParsing.usingFileByte.jsonParsingUsingReadAllBytesTest"/>
            <class name="jsonParsing.usingJacksonApi.ObjectToStringTest"/>
            <class name="jsonParsing.usingJacksonApi.WriteJsonToFileTest"/>
            <class name="jsonParsing.usingJacksonApi.JsonFileDataToObjectTest"/>
            <class name="jsonParsing.usingJsonObject.RunTimeJsonTest"/>
            <class name="jsonParsing.usingJsonObject.UsingJsonObjectTest"/>
            <class name="jsonParsing.usingPOJO.SerializeTest"/>
            <class name="jsonParsing.usingPOJO.DeserializationTest"/>
        </classes>
    </test>
    <test name="DB connection Test files">
        <classes>
            <class name="DataBaseConnection.FetchDataFromDb.FetchDataFromDbAndPrintTest"></class>
            <class name="DataBaseConnection.FetchDataFromDbToJsonFile.StoreDbDataInJsonFileTest"></class>
        </classes>
    </test>
</suite> <!-- Suite -->